@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  .dark {
    background-color: #1a202c;
    color: #ffffff;
  }
}

*::-webkit-scrollbar {
  display: none;
}

.header {
  height: 80px;
  box-shadow:
    0 1px 2px 0 rgba(0, 0, 0, 0.03),
    0 1px 6px -1px rgba(0, 0, 0, 0.02),
    0 2px 4px 0 rgba(0, 0, 0, 0.02);
}

.content {
  max-width: 1280px;
  min-height: calc(100vh - 80px - 80px);
}

.footer {
  height: 80px;
  border-top: 1px solid #eee;
}

.tool-card {
  transition:
    box-shadow 0.2s,
    border-color 0.2s;
}

.tool-card:hover {
  border-color: transparent;
  box-shadow:
    0 1px 2px -2px rgba(0, 0, 0, 0.16),
    0 3px 6px 0 rgba(0, 0, 0, 0.12),
    0 5px 12px 4px rgba(0, 0, 0, 0.09);
}

.ant-tooltip-inner {
  font-size: 12px;
}
